/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                    /* CLASSI GENERALI */

/* Classe per il centraggio orizzontale delle box */
.center-side{
   margin: auto;
}

/* Classe per il centraggio verticale delle box */
.center-top{
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn{
    background-color: white;
    border-radius: 20px;
    padding:10px 15px;
    border: none;
}

.color-black{
    background-color: #23272a;
    color: white;
}
/* Classe per aggiungere il bordo */
.border{
    border: 2px dashed black;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

/* Classe per aggiungere padding agli item nel nav */
.padding{
    padding: 10px;
}

/* Classe per aggiungere un with ai lati del nav */
.side{
    width: 20%;
}

/* Classe generale per il flex */
.flex{
    display: flex;
}

                    /* CSS */

body{
    font-family: 'Cabin', sans-serif;
}

header{
    min-height:600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-top: 10px;
}

nav{
    width: 70%;
    margin:0px auto 10px auto;
}

nav > ul{
    list-style-type: none;
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    color: white;
}

nav >.login{
    text-align: end;
    justify-content: center;
    align-items: center;
}


section.blue{
    justify-content:center;
    align-items: center;
    text-align: center;
}

section.blue > .jumbotron{
    width: 850px;
    border-radius: 10px;
}

section.blue > .jumbotron > h1{
    color: white;
    font-size: 4rem;
}

section.blue > .jumbotron > p{
    color: white;
    margin-top:2rem ;
    font-size: 1.3rem;
    line-height: 2.2rem;
}

section > div.jumbotron > button.color-black{
    font-size: 1.3rem;
    margin-left: 1.5rem;
    padding: 20px 30px;
    border-radius: 30px;
}

section > div.jumbotron > button.btn{
    font-size: 1.3rem;
    padding: 20px 30px;
    border-radius: 30px;
}

section > div.jumbotron > button.btn{
    margin-top: 1.5rem;
}

.cyan-pink{
    width: 70%;
}

div.cyan-pink > div.cyan{
    width: 75%;
}

div.cyan-pink > div.pink{
    width: 25%;
}

section.white > div.cyan-pink > div.item-1{
    padding-right: 3rem;
}

div.cyan-pink > div.pink > h2 ,
div.green >  h2
{
    color: #23272a;
    font-size: 3rem;
    margin-top: 40px;
}

div.cyan-pink > div.pink > p{
    font-size: 1.5rem;
    margin-top:1.2rem;
}

 div.cyan-pink > div.cyan img{
    height: 500px;
    justify-content: start;
}

section.lightgray{
    background-color: #f6f6f6;
}

section.lightgray >div.cyan-pink > div.cyan{
    order: 2;
}

section.lightgray >div.cyan-pink > div.cyan{
    justify-content: end;
}


section.lightgray > div.green{
    height: 900px;
    width: 70%;
}

section.lightgray > div.green > p{
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0 10rem;
}

div.green > div.stars{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1.5rem;
    width: 30%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
}

div.green > button.color-blue-sky{
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 1.3rem;
    background-color: #8ea1e1;
}

footer{
    background-color: #23272a;
    padding-top: 1rem;
}

footer section.footer-top{
    height: 700px;
    width: 70%;
}

footer div.main-column{
    background-color: #ef7f7f;
    width: 30%;
}

footer div.footer-columns{
    width: 70%;
}

footer div.secondary-column{
    background-color: #20b1a9;
    width: calc(100% / 4);
}

footer section.footer-bottom{
    width: 70%;
    background-color: #7ffed3;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer section .logo-wrapper,
footer section .button-wrapper{
    padding: .5rem;
}


